<div style="padding: 40px 15px;">
  <div class="row">
    <div class="col-md-9 col-sm-8">
    <h1>
      <input type="text" ng-model="query" placeholder="Search by any field" aria-label="Filter" style="width:100%"/>
    </h1>
    </div>
    <div class="col-md-3 col-sm-4"> 
      <!-- TODO: make a directive for these style buttons -->
      <!-- TODO: Clean up the CSS again... -->
      <a class='btn btn-info action-item' data-toggle="modal" data-target="#sendModal" style="margin: 20px 0; width: 100%;">
        <span class="action-item-icon"><i class="mw mw-mwach-phone-add"></i></span> 
        <span class="action-item-text">Enroll Participant</span>
      </a>
    </div>
  </div>

  <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Study ID</th>
          <th>ANC number</th>
          <th>Name</th>
          <th>Study Group</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="participant in participants | filter:query" style="cursor:pointer" ng-click="loadParticipant();">
          <td>{{participant.study_id}}</td>
          <td>{{participant.anc_num}}</td>
          <td>{{participant.nickname}}</td>
          <td>{{participant.study_group}}</td>
          <td>{{participant.status}}</td>
        </tr>
    </table>
</div>