<div class="page-content" id="participant-page">
  <h1 id="participant-details">
    <span>
      <i class="mw" ng-class="message.status == 'post' ? 'mw-mwach-baby-phone' : 'mw-mwach-phone'" ></i>
      {{participant.nickname}}
    </span>
    <small>{{participant.study_id}}</small>
    <small>{{participant.anc_num}}</small>
  </h1>

  <div class="row">
    <div class="col-md-8">
      <div class="btn-group btn-group-justified" id="msg-list-btn-group">
      <!-- TODO: make a directive for these style buttons -->
        <a data-toggle="modal" data-target="#sendModal" class="action-item btn btn-success">
          <span class="action-item-icon"><i class="mw mw-comment"></i></span> 
          <span class="action-item-text">Send Message</span>
        </a>
        <a class="action-item btn btn-highlight">
          <span class="action-item-icon"><i class="mw mw-mobile-1"></i></span> 
          <span class="action-item-text">Record Call</span>
        </a>
      </div>
      <!-- TODO: I want to get rid of fuelux and jquery and all the nonsense in this version. Need to sort out the overflow scrolling bits -->
      <div id="messagesList">
        <!-- TODO: make this a directive to hide the nastiness-->
        <div ng-repeat="message in messages | orderBy:'created':true" ng-switch on="message.sender" class="clearfix">

          <div ng-if="!message.is_outgoing" class="avatar-participant mw-4x pull-left">
            <i class="mw mw-mwach-phone "></i>
          </div>

          <div ng-if="message.is_outgoing" class="mw-4x pull-right" ng-class="message.is_system ? 'avatar-system' : 'avatar-nurse'">
            <i class="mw" ng-class="message.is_system ? 'mw-monitor-bdr' : 'mw-user-md'"></i>
          </div>

          <div class="message" ng-class="{'nurse':message.is_nurse, 'system':message.is_system, 'client':!message.is_outgoing, 'pull-right':message.is_outgoing, 'pull-left':!message.is_outgoing}">
            <div class="content">
              {{message.text}}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>