<div style="padding: 0px 40px;">

  <h1 class="participant-details">
    <span>
      <i class="mw" ng-class="message.status == 'post' ? 'mw-mwach-baby-phone' : 'mw-mwach-phone'" ></i>
      {{participant.nickname}}
    </span>
    <small>{{participant.study_id}}</small>
    <small>{{participant.anc_num}}</small>
  </h1>

  <div class="row">
    <div class="col-md-8">

      <div class="btn-group btn-group-justified" id="msg-list-btn-group">
        <mw-action-btn mw-icon="'mw-comment'" mw-style="'success'">Send Msg</mw-action-btn>
        <mw-action-btn mw-icon="'mw-mobile-1'" mw-style="'highlight'">Record Call</mw-action-btn>
      </div>

      <!-- TODO: I want to get rid of fuelux and jquery and all the nonsense in this version. Need to sort out the overflow scrolling bits -->
      <div>
        <mw-message message="msg" participant="participant" ng-repeat="msg in messages | orderBy:'created':true" class="clearfix">
        </mw-message>
      </div>

    </div>
  </div>

</div>