<!-- Javascript for modal load and save -->
<script type='text/javascript'>
$(function(){ // On DOM Load
    $('#visitScheduleModal').on('show.bs.modal',function(evt){
        var button = $(evt.relatedTarget); //button that triggered the modal
        var study_id = button.data('study-id');
        var src = button.data('src');
        var row_id = button.attr('id');
        
        var modal = $(this);
        modal.find('input[name="study_id"]').val(study_id);
        modal.find('input[name="src"]').val(src);
        console.log(row_id);
	    modal.find("#save_button").data('row-id', row_id);
    });

    $(".dismiss-btn").click(function(e) {
    	me = $(this);
    	url = me.data('post-url');
    	$.post(url, {})
			.done(function() {
				mw.delete_row(me);
			})
			.fail(function() {
				// TODO: add some error handling here.
			});
    });
    
    $("#save_button").click(function(){
        // Ensure we selected type
        if( !$('input:radio[name=visit_type]:checked').val()) {
            $("#visit_type_block").addClass('has-error');
            return;
        }

        url = $(this).data('post-url');

        $('#visitScheduleModal').find('button').attr('disabled', true);

        $.post(url,{
            arrived: $("input[name=arrived]").val(),
            next_visit: $("input[name=next_visit]").val(),
            visit_type: $('input:radio[name=visit_type]:checked').val(),
            study_id: $("input[name=study_id]").val(),
        })
        .done(function() {
            console.log('success');
            $('#visitScheduleModal').find('button').attr('disabled', false);
            $('#visitScheduleModal').modal('toggle');
            id = $('#visitScheduleModal').find("#save_button").data('row-id');
            mw.delete_row($("#" + id));
        })
        .fail(function() {
            console.log('error');
            // TODO: Add some error handling here. What is the right approach?
            // Should we tell the user? Try again? Right now the modal will just stay open.
        });
    });

    mw.makeDatepickers();
});

</script>

<div class='modal fade' id='visitScheduleModal' role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Clinic or study visit</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="arrived">Date arrived:</label>
                        <div class="col-sm-9">
                            <div class='datepicker' data-allow-past-dates='true' data-date='{{CURRENT_DATE|date:"Y-m-d"}}' id='arrived'></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="next_visit">Date of next visit:</label>
                        <div class="col-sm-9">
                            <div class='datepicker' data-allow-past-dates='true' data-date='{{ONE_WEEK|date:"Y-m-d"}}' id='next_visit'></div>
                        </div>
                    </div>
                    <div class="form-group" id="visit_type_block">
                        <label class="col-sm-3 control-label" for="">Type of next visit:</label>
                        <div class="col-sm-9">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-language">
                                    <input type="radio" name="visit_type" value="clinic" autocomplete="off"> Clinic Visit
                                </label>
                                <label class="btn btn-language">
                                    <input type="radio" name="visit_type" value="study" autocomplete="off"> Study Visit
                                </label>
                            </div>
                            <span class="help-block">Please select the visit type</span>
                        </div>
                    </div>
                    <input type='hidden' name='study_id' value='' />
                    <input type='hidden' name='src' value='' />
                </div>
                <div class="modal-footer">
                    <button id="save_button" class='btn btn-primary' data-post-url='{% url "contacts.views.visit_schedule" %}'>Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
