<div class='modal fade' id='sendModal' role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method='post' action='/contact/send'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Send Message</h4>
                </div>
                <div class="modal-body message-send">
                    {% csrf_token %}
                    <div id='reply-message'>
                        <div id='reply-text' class='alert alert-success'></div>
                        <div id='metadata' class='row'>&nbsp;</div>
                    </div>

                    <div class='row no-gutter outside-gutter'>
                        <div class="col-md-6">
                        <div class="panel panel-primary flush-bottom flush-right">
                              <div class="panel-heading flush-right">Outgoing message:</div>
                              <div class="panel-body">
                                <textarea class='form-control' name='message' rows='5' placeholder='Message to send....'></textarea>
                              </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                        <div class="panel panel-default flush-bottom flush-left">
                              <div class="panel-heading flush-left">Translated message:</div>
                              <div class="panel-body">
                                <textarea class='form-control' name='translation' rows='5' placeholder='Translation....'></textarea>
                              </div>
                        </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        {% for l in langs %}<label class="btn btn-sm btn-language flush-top"><input name='{{l.name}}' type="checkbox" autocomplete="off" value="{{l.id}}">{{l.name}}</label>{% endfor %}
                    </div>
                    <input type='hidden' name='study_id' value='{{contact.study_id}}' />
                    <input type='hidden' name='parent_id' value='' />
                </div>
                <div class="modal-footer">
                    <input class='btn btn-primary' type='submit' value='Send' />
                    <input class='btn btn-default' type='submit' value='Send &amp; translation complete' />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>