.participant-messages {
  // H1 font size minus row offset
  margin-left: calc(36px - 15px);
}

// Icons labeling the sender
.avatar {
  &.pull-right{
    padding: 0 0 0 15px;
  }
  &.pull-left {
    padding: 0 15px 0 0;
  }

  &.nurse {
    color: @brand-success;
  }
  &.system {
    color: @gray-light;
  }
  &.participant {
    color: @brand-primary;
  }
}

// The actual message
.message {
  width:    70%;
  margin:   0.5em 0 0.5em 0;

  &.pull-right{
    border-radius: 0 20px;
  }
  &.pull-left {
    border-radius: 20px 0;
  }

  .msg-content {
    padding:  0 @msg-side-padding 0.3em @msg-side-padding;
  }

  // Colors and details for header and footer
  &.nurse {
    .message-variant(@state-success-bg);
  }
  &.system {
    .message-variant(@gray-lighter);
  }
  &.participant {
    .message-variant(@state-info-bg);
  }
}


//
// Side panels
//
.details-table tbody tr td:first-child {
  font-weight: bold;
  text-align: right;
}

.details-table-offset tbody tr td {
  vertical-align: middle;
  &:nth-child(3) {
    font-weight: bold;
    text-align: right;
  }
}
