{% load staticfiles %}
<html>

<head>

<link rel='stylesheet' href='{% static "libs/font-awesome/css/font-awesome.css" %}'>

<link rel='stylesheet' href='{% static "css/style.css" %}'>

<script src='{% static "libs/jquery.js" %}'></script>
<script src='{% static "libs/bootstrap/js/bootstrap.js" %}'></script>

<title>{% block title %}mWaCHx{% endblock %}</title>

</head>

<body>
	
	<div id='header'>
	
		<ul id='left-menu'>
			<li {% url 'contacts.views.home' as u %}{% if request.path == u %}class='active'{% endif %}> 
				<a href='{{u}}'><i class='fa fa-home'></i> Home</a>
			</li>
			<li {% url 'contacts.views.new_messages' as u %}{% if request.path == u %}class='active'{% endif %}> 
				<a href='{{u}}'><i class='fa fa-hospital-o'></i> Unread Messages</a>
			</li>
			<li {% url 'contacts.views.visits' as u %}{% if request.path == u %}class='active'{% endif %}> 
				<a href='{{u}}'><i class='fa fa-hospital-o'></i> Upcoming Visits</a>
			</li>
			<li {% url 'contacts.views.calls' as u %}{% if request.path == u %}class='active'{% endif %}> 
				<a href='{{u}}'><i class='fa fa-mobile'></i> Calls</a>
			</li>
			<li {% url 'contacts.views.translations' as u %}{% if request.path == u %}class='active'{% endif %}> 
				<a href='{{u}}'><i class='fa fa-language'></i> Translations</a>
			</li>
        </ul>
        <ul id='right-menu'>
            <!-- Only show this if Admin User Is Logged in -->
			<li {% url 'contacts.views.dashboard' as u %}{% if request.path == u %}class='active'{% endif %}>
				<a href='{{u}}'>Dashboard</a>
			</li>
			<li {% url 'contacts.views.messages' as u %}{% if request.path == u %}class='active'{% endif %}>
				<a href='{{u}}'>Messages</a>
			</li>
			<li {% if 'contact' in request.path %}class='active'{% endif %}>
                <a href='/contact'>Contacts</a>
            </li>
			<li>
				<a href='#visit-tab'>Visits</a>
            </li>
		</ul>
	
	</div>
	
    <div id='content'><div class='container-fluid'><div class='row'>
    {% block content %}
        Base Template
    {% endblock %}
    </div></div></div>
	
    <!--<div id='footer'><i class='fa fa-copyright'></i> mWaCHx</div>-->
</body>

</html>
