{% load staticfiles %}
<html>

<head>

<link rel='stylesheet' href='{% static "libs/bootstrap/css/bootstrap.css" %}'>
<link rel='stylesheet' href='{% static "libs/font-awesome/css/font-awesome.css" %}'>

<link rel='stylesheet/less' href='{% static "style.less" %}'>
<script src='{% static "libs/less.js" %}'></script>

<script src='{% static "libs/jquery.js" %}'></script>
<script src='{% static "libs/bootstrap/js/bootstrap.js" %}'></script>

<title>{% block title %}mWaCHx{% endblock %}</title>

</head>

<body>
	
	<div id='header'>
	
		<ul id='main-menu'>
			<li {% if 'home' in request.path %}class='active'{% endif %}> <a href='/home'><i class='fa fa-home'></i>Home</a></li><li {% url 'contacts.views.dashboard' as u %}{% if request.path == u %}class='active'{% endif %}><a href='/dashboard'>Dashboard</a></li><li {% url 'contacts.views.messages' as u %}{% if request.path == u %}class='active'{% endif %}><a href='/messages'>Messages</a></li><li {% if 'contact' in request.path %}class='active'{% endif %}>
                <a href='/contact'>Contacts</a>
                <a class='tab-addon' href='/contact/add'><i class='fa fa-plus-circle'></i></a>
            </li><li><a href='#visit-tab'>Visits</a></li>
		</ul>
	
	</div>
	
    <div id='content'><div class='container-fluid'><div class='row'>
    {% block content %}
        Base Template
    {% endblock %}
    </div></div></div>
	
    <div id='footer'><i class='fa fa-copyright'></i> mWaCHx</div>
</body>

</html>
