{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!--<link rel='stylesheet' href='{% static "libs/font-awesome/css/font-awesome.css" %}'>-->

    <link rel='stylesheet' href='{% static "css/mwach.css" %}'>
    <link rel='stylesheet' href='{% static "css/style.css" %}'>

    <script src='{% static "libs/jquery.js" %}'></script>
    <script src='{% static "libs/bootstrap/js/bootstrap.js" %}'></script>
    <script src='{% static "libs/bootstrap-switch/js/bootstrap-switch.min.js" %}'></script>
    <script src='{% static "libs/fuelux/js/fuelux.min.js" %}'></script>

    <title>{% block title %}mWaCHx{% endblock %}</title>

</head>

<body class='fuelux'>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand {{BRAND_STATUS}}" href="/"><i class="mw mw-mwach-phone"></i></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li {% url 'contacts.views.home' as u %}{% if request.path == u %}class='active' {% endif %}>
                        <a href='{{u}}'><i class='fa fa-home'></i> Home</a>
                    </li>
                    <li {% url 'contacts.views.messages_new' as u %}{% if request.path == u %}class='active' {% endif %}>
                        <a href='{{u}}'><i class='fa fa-comment'></i> Messages</a>
                    </li>
                    <li {% url 'contacts.views.visits' as u %}{% if request.path == u %}class='active' {% endif %}>
                        <a href='{{u}}'><i class='fa fa-hospital-o'></i> Visits</a>
                    </li>
                    <li {% url 'contacts.views.calls' as u %}{% if request.path == u %}class='active' {% endif %}>
                        <a href='{{u}}'><i class='fa fa-mobile fa-lg'></i> Calls</a>
                    </li>
                    <li {% url 'contacts.views.translations' as u %}{% if request.path == u %}class='active' {% endif %}>
                        <a href='{{u}}'><i class='fa fa-language'></i> Translations</a>
                    </li>
                    
                     <li {% if 'contact' in request.path %}class='active' {% endif %}>
                        <a href='/contact'><i class="mw mw-mwach-phone"></i> Contacts</a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Other <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li {% url 'contacts.views.dashboard' as u %}{% if request.path == u %}class='active' {% endif %}>
                                <a href='{{u}}'>Dashboard</a>
                            </li>
                            <li {% url 'contacts.views.messages' as u %}{% if request.path == u %}class='active' {% endif %}>
                                <a href='{{u}}'>Messages</a>
                            </li>
                            <li>
                                <a href='#visit-tab'>Visits</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                                <h3 class='pull-right'><span class="label label-warning">{% with d=CURRENT_DATE %}{{d|date:"Y-m-d"}}{% endwith %}</span></h3>

            </div>
        </div>
    </nav>

    <div id='content'>
        <div class='container-fluid'>
            <div class='row'>
                {% block content %} Base Template {% endblock %}
            </div>
        </div>
    </div>

    <!--<div id='footer'><i class='fa fa-copyright'></i> mWaCHx</div>-->

<!-- TODO: Move this -->
    <script type="text/javascript">function pad(n, width, z) {
  z = z || '0';
  n = n + '';
  return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
}</script>
</body>

</html>
