{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
  <div class='container-fluid'><div class='row'>
    
        <div class='col-md-2'>
            {% include 'contact_list_frag.html' %}
        </div>
        
        <div class='col-md-7 scroll'>
            <table class='table table-striped table-hover table-condensed'>
                <tr>
                    <th>Direction</th>
                    <th>Time</th>
                    <th>Message</th>
                </tr>
            {% for message in contact.message_set.all %}
                <tr>
                    <td>{% if message.is_outgoing %}Out{% else %}In{% endif %}</td>
                    <td>{{ message.created }}</td>
                    <td>{{ message.text }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        
        <div class='col-md-3'>
            <h2>Contact Details </h2>
            <dl>
                <dt>ID</dt><dl>{{contact.study_id}}</dl>
                <dt>Name</dt><dl>{{contact.first_name}} {{contact.last_name}}</dl>
                <dt>Nickname</dt><dl>{{contact.nick_name}}</dl>
            </dl>
        </div>
    
    
    </div></div>
{% endblock %}
