{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content %}

<div class='col-full'>
    {% with number=status.messages %}
    {% url 'contacts.views.messages_new' as u %}
    <a class='btn {% if status.messages != 0 %} btn-danger {% else %} btn-success {% endif %} action-item btn-xxl' href="{{u}}">
        <span class="action-item-icon"> {% include 'icons/sms-icon.html' %}</span>
        <span class="action-item-text">{% if status.messages != 0 %} You have {% include 'icons/number.html' %} new messages {% else %} No new messages! {% endif %}</span>
    </a>
    {% endwith %} {% with number=status.visits %}
    {% url 'contacts.views.visits' as u %}
    <a class='btn {% if status.visits != 0 %} btn-danger {% else %} btn-success {% endif %} action-item btn-xxl' href="{{u}}">
        <span class="action-item-icon">
            <i class="fa fa-hospital-o"></i>
        </span>
        <span class="action-item-text">{% if status.visits != 0 %} You have {% include 'icons/number.html' %} new visits to view {% else %} No new visits! {% endif %}</span>
    </a>
    {% endwith %} {% with number=status.calls %}
    {% url 'contacts.views.calls' as u %}
    <a class='btn {% if status.calls != 0 %} btn-danger {% else %} btn-success {% endif %} action-item btn-xxl' href="{{u}}">
        <span class="action-item-icon">
            <i class="fa fa-mobile fa-lg"></i>
        </span>
        <span class="action-item-text">{% if status.calls != 0 %} You have {% include 'icons/number.html' %} new calls to make {% else %} No new calls! {% endif %}</span>
    </a>
    {% endwith %} {% with number=status.translations %}
    {% url 'contacts.views.translations' as u %}
    <a class='btn {% if status.translations != 0 %} btn-danger {% else %} btn-success {% endif %} action-item btn-xxl' href="{{u}}">
        <span class="action-item-icon"> 
            <i class="fa fa-language"></i>
        </span>
        <span class="action-item-text">{% if status.translations != 0 %} You have {% include 'icons/number.html' %} new translations {% else %} No new translations! {% endif %}</span>
    </a>
    {% endwith %}

    <div class='btn-group btn-group-justified action-btn-group' role="group">
        <a class='btn btn-info action-button action-item' href="{% url 'contacts.views.contact_add' %}">
            <span class="action-item-icon"> 
                <i class="mw mw-mwach-phone-add"></i>
            </span>
            <span class="action-item-text">Enroll participant</span>
        </a><a class='btn btn-info action-button action-item' href="{% url 'contacts.views.contacts' %}">
            <span class="action-item-icon"> 
                <i class="mw mw-mwach-phone"></i>
            </span>
            <span class="action-item-text">Find a participant</span>
        </a><a class='btn btn-info action-button action-item' href="{% url 'contacts.views.contacts' %}">
            <span class="action-item-icon"> 
                <i class="fa fa-list"></i>
            </span>
            <span class="action-item-text">Upcoming visits</span>
        </a>
    </div>
</div>

{% endblock %}
