{% extends 'website-base.html' %} 
{% block title %}Login to mWaCHx{% endblock %} 
{% block head_custom %}
<style type='text/css'>
body {
    background-color:#eee;
}
</style>
{% endblock %}
{% block body %}
<div class='col-full'>
    <div class="page-content">
        
        <div class="row">
            <div class="col-xs-2 col-xs-offset-5">
                <i class="mw mw-mwach-phone-d mw-huge"></i>
                <span class="mw-label">mWACh<sub>x</sub></span>
            </div>
        </div>
        <form class="form-signin" name="LoginForm" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <label for="username" class="sr-only">Username</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Username" required="" autofocus="">
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</div>
{% endblock %}
