{% extends 'base.html' %} 

{% block title %}Unread Messages{% endblock %} 

{% block content %}
<div id='new-message-list' class='col-md-10 col-md-offset-1'>
    
    <div class='panel panel-primary'>
        
        <div class='panel-heading'>
            <h3 class='panel-title'>New Messages <span class='badge pull-right'>{{new_message_list.count}}</span></h3>
        </div>
        
        <div class='panel-body'>
            {% for message in new_message_list %}
                <a class='message' href='/contact/{{message.contact.study_id}}'>
                    <div class='message-label'><span class='badge'>{{forloop.counter}}</span></div>
                    <div class='message-content date'>{{message.created|date:"N n, H:i"}}<br/><em>{{message.contact.nickname}}</em> -- {{message.weeks}} wk</div>
                    <div class='message-content'>{{message.text}}</div>
                </a>
            {% endfor %}
        </div>
        
    <div>
    
</div>
{% endblock %}
