{% extends 'base.html' %} {% load staticfiles %}{% block title %}Upcoming visits{% endblock %} {% block content %} {% include 'add-new-visit.html' %}
<div class='col-full'>
    <div class="action-item visit-list">
        {% if visits.upcoming|length == 0 and visits.bookcheck|length == 0 %} {% url 'contacts.views.home' as u %}
        <h1>Great job!</h1>
        {% endif %}
        <h3>Today's visits <i class="fa fa-hospital-o pull-right"></i></h3> 
        {% if visits.upcoming|length > 0 %}
        <table id="visits-table" class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Study Group</th>
                    <th>ANC</th>
                    <th>Orig. Scheduled Visit</th>
                    <th>Days Overdue</th>
                </tr>
            </thead>
            <tbody>

                {% for visit in visits.upcoming %}
                <tr class="link-row">
                    <td>
                        <a class="btn btn-danger" href='{% url "contacts.views.visit_dismiss" visit.id 1 %}'>
                            <i class="fa fa-eye-slash fa-fw"></i>
                        </a> <a class="btn btn-info" data-toggle='modal' data-target='#visitScheduleModal' data-src={% url 'contacts.views.visits' %} data-study-id={{visit.contact.study_id}}><i class="fa fa-hospital-o fa-fw"></i></a>
                    </td>
                    <td>{{visit.contact.nickname}}</td>
                    <td>{{visit.contact.study_group}}</td>
                    <td>{{visit.contact.anc_num}}</td>
                    <td>{{visit.scheduled}}</td>
                    <td>{{visit.days_overdue}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2>No more visits for today.</h2>
        {% endif %}
    </div>

    <div class="action-item visit-list">
        <h3>Today's book checks <i class="fa fa-book pull-right"></i></h3> {% if visits.bookcheck|length > 0 %}
        <table id="visits-table" class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Study Group</th>
                    <th>ANC</th>
                    <th>Orig. Scheduled Visit</th>
                    <th>Days Overdue</th>
                </tr>
            </thead>
            <tbody>

                {% for visit in visits.bookcheck %}
                <tr class="link-row">
                    <td>
<a class="btn btn-danger btn-stack" href='{% url "contacts.views.visit_dismiss" visit.id 7 %}'>
                        <span class="fa-stack fa-sm fa-fw">
                          <i class="fa fa-book fa-stack-2x "></i>  
                          {# <i class="fa fa-stack-2x x-out">X</i> #}
                        </span> </a> <a class="btn btn-info" data-toggle='modal' data-target='#visitScheduleModal' data-src={% url 'contacts.views.visits' %} data-study-id={{visit.contact.study_id}}><i class="fa fa-hospital-o fa-fw"></i></a>
                    </td>
                    <td>{{visit.contact.nickname}}</td>
                    <td>{{visit.contact.study_group}}</td>
                    <td>{{visit.contact.anc_num}}</td>
                    <td>{{visit.scheduled}}</td>
                    <td>{{visit.days_overdue}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2>No more bookchecks for today.</h2>
        {% endif %}

        {% if visits.upcoming|length == 0 and visits.bookcheck|length == 0 %} {% url 'contacts.views.home' as u %}
        <a class='btn btn-success action-item btn-xxs visit-btn' href="{{u}}">
            <span class="action-item-icon">
                <i class="fa fa-home"></i>
            </span>
            <span class="action-item-text">Return home to see more tasks.</span>
        </a>
        {% endif %}
    </div>


    <div class="panel panel-default action-item visit-list">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseOneWeek" href="#collapseOneWeek">
            <button class="btn btn-normal"></button>
            <div class="panel-heading">More than 1 week overdue
            </div>
            <span class="badge">{{visits.oneweek|length}}</span>
        </a>
        <div id="collapseOneWeek" class="panel-collapse collapse">
            {% if visits.oneweek|length > 0 %}
            <table id="visits-table" class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Study Group</th>
                        <th>ANC</th>
                        <th>Orig. Scheduled Visit</th>
                        <th>Days Overdue</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visit in visits.oneweek %}
                    <tr class="link-row">
                        <td>
                        <a class="btn btn-info" data-toggle='modal' data-target='#visitScheduleModal' data-src={% url 'contacts.views.visits' %} data-study-id={{visit.contact.study_id}}><i class="fa fa-hospital-o fa-fw"></i></a>
                        </td>
                        <td>{{visit.contact.nickname}}</td>
                        <td>{{visit.contact.study_group}}</td>
                        <td>{{visit.contact.anc_num}}</td>
                        <td>{{visit.scheduled}}</td>
                        <td>{{visit.days_overdue}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h2>No visits to display</h2> {% endif %}
        </div>
    </div>


</div>

<script src='{% static "js/visit_modal.js" %}'></script>

{% endblock %}
