{% extends 'base.html' %} {% load staticfiles %}{% block title %}Upcoming visits{% endblock %} {% block content %} {% include 'add-new-visit.html' %}
<div class='col-full'>
    <div class="page-content visit-list">
        {% if visits.upcoming|length == 0 and visits.bookcheck|length == 0 %} {% url 'contacts.views.home' as u %}
        <div class="row"><h1>Great job!</h1></div>
        {% endif %}
        <div class="row"><h3>Today's visits <i class="fa fa-hospital-o pull-right"></i></h3> </div>
        {% if visits.upcoming|length > 0 %}
        <div class="row"><table id="visits-table" class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Study Group</th>
                    <th>ANC</th>
                    <th>Orig. Scheduled Visit</th>
                    <th>Days Overdue</th>
                </tr>
            </thead>
            <tbody>

                {% for visit in visits.upcoming %}
                <tr class="link-row">
                    <td>
                        <a data-toggle="tooltip" data-placement="top" title="{{visit.contact.nickname}} did not visit today" class="btn dismiss-btn btn-danger" data-post-url='{% url "contacts.views.visit_dismiss" visit.id 1 %}'>
                            <i class="fa fa-eye-slash fa-fw"></i>
                        </a> <div class="tooltip-icon" data-toggle="tooltip" data-title="{{visit.contact.nickname}} came to clinic"><a class="btn btn-info" data-toggle='modal' data-target='#visitScheduleModal' data-src={% url 'contacts.views.visits' %} data-study-id={{visit.contact.study_id}} id="upcoming-{{visit.contact.study_id}}"><i class="fa fa-hospital-o fa-fw"></i></a></div>
                    </td>
                    <td>{{visit.contact.nickname}}</td>
                    <td>{{visit.contact.study_group}}</td>
                    <td>{{visit.contact.anc_num}}</td>
                    <td>{{visit.scheduled}}</td>
                    <td>{{visit.days_overdue}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table></div>
        {% else %}
        <div class="row"><h2>No more visits for today.</h2></div>
        {% endif %}
    </div>

    <div class="page-content visit-list">
        <div class="row"><h3>Today's book checks <i class="fa fa-book pull-right"></i></h3></div>
        {% if visits.bookcheck|length > 0 %}
        <div class="row"><table id="visits-table" class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Study Group</th>
                    <th>ANC</th>
                    <th>Orig. Scheduled Visit</th>
                    <th>Days Overdue</th>
                </tr>
            </thead>
            <tbody>

                {% for visit in visits.bookcheck %}
                <tr class="link-row">
                    <td>
<a data-toggle="tooltip" data-placement="top" title="{{visit.contact.nickname}} has no visit in book" class="btn btn-danger btn-stack dismiss-btn" data-post-url='{% url "contacts.views.visit_dismiss" visit.id 7 %}'>
                        <span class="fa-stack fa-sm fa-fw">
                          <i class="fa fa-book fa-stack-2x "></i>  
                          {# <i class="fa fa-stack-2x x-out">X</i> #}
                        </span> </a> <div class="tooltip-icon" data-toggle="tooltip" data-placement="top" title="{{visit.contact.nickname}} came to clinic"><a class="btn btn-info" data-toggle='modal' data-target='#visitScheduleModal' data-src={% url 'contacts.views.visits' %} data-study-id={{visit.contact.study_id}} id="bookcheck-{{visit.contact.study_id}}" ><i class="fa fa-hospital-o fa-fw"></i></a></div>
                    </td>
                    <td>{{visit.contact.nickname}}</td>
                    <td>{{visit.contact.study_group}}</td>
                    <td>{{visit.contact.anc_num}}</td>
                    <td>{{visit.scheduled}}</td>
                    <td>{{visit.days_overdue}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table></div>
        {% else %}
        <div class="row"><h2>No more bookchecks for today.</h2></div>
        {% endif %}

        {% if visits.upcoming|length == 0 and visits.bookcheck|length == 0 %} {% url 'contacts.views.home' as u %}
        <div class="row"><a class='btn btn-success action-item btn-lg visit-btn' href="{{u}}">
            <span class="action-item-icon">
                <i class="fa fa-home"></i>
            </span>
            <span class="action-item-text">Return home to see more tasks.</span>
        </a></div>
        {% endif %}
    </div>
</div>

<script type="text/javascript" src='{% static "js/upcoming_visits.js" %}'></script>
<script type="text/javascript" src='{% static "js/ajax.js" %}'></script>
<script type="text/javascript">
// TODO: Move this somewhere smarter.
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});</script>
{% endblock %}
