{% extends 'base.html' %} {% load staticfiles %}{% block title %}Upcoming visits{% endblock %} {% block content %}
		<div class='modal fade' id='visitScheduleModal' role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                    <form method='post' action='{% url 'contacts.views.visit_schedule' %}'>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Date of next visit</h4>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <input type='date' name='next_visit' class="form-control" min='{% with d=CURRENT_DATE %}{{d|date:"Y-m-d"}}{% endwith %}' value='{% with d=ONE_WEEK %}{{d|date:"Y-m-d"}}{% endwith %}' />
                        <input type='hidden' name='arrived' value='{% with d=CURRENT_DATE %}{{d|date:"Y-m-d"}}{% endwith %}'/>
                        <input type='hidden' name='parent_visit_id' value=''/>
                    </div>
                    <div class="modal-footer">
                        <input class='btn btn-primary' type='submit' value='Save'/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                    </form>
                </div>
          </div>
        </div>

<div class='col-full'>
    <div class="action-item visit-list">
        <h3>Today's visits</h3>
        {% if visits.upcoming|length > 0 %}
        <table id="visits-table" class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Nickname</th>
                    <th>Study Group</th>
                    <th>Original Scheduled Visit</th>
                    <th>Days Overdue</th>
                </tr>
            </thead>
            <tbody>

                {% for visit in visits.upcoming %}
                <tr class="link-row">
                    <td><a class="btn btn-danger" href='{% url "contacts.views.visit_dismiss" visit.id %}'>No show</a> <a class="btn btn-primary" data-toggle='modal' data-target='#visitScheduleModal' data-visit={{visit.id}}>Visited</a>
                    <!--<button class='btn btn-sm btn-primary' data-toggle='modal' data-target='#visitScheduleModal' data-visit={{visit.id}} data-message='{{message.id}}'>Reply</button>-->
                    </td>
                    <td>{{visit.contact.nickname}}</td>
                    <td>{{visit.contact.study_group}}</td>
                    <td>{{visit.original}}</td>
                    <td>{{visit.overdue}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        {% url 'contacts.views.home' as u %}
        <h1>Great job! No more visits for today.</h1>

        <a class='btn btn-success action-item btn-xxs visit-btn' href="{{u}}">
		    <span class="action-item-icon">
		        <i class="fa fa-home"></i>
		    </span>
		    <span class="action-item-text">Return home to see more tasks.</span>
		</a>
        {% endif %}
    </div>


    <div class="panel panel-default action-item visit-list">
        <a data-toggle="collapse" data-target="#collapseOneWeek" href="#collapseOneWeek">
            <div class="panel-heading">More than 1 week overdue <span class="badge pull-right">{{visits.oneweek|length}}</span>
            </div>
        </a>
        <div id="collapseOneWeek" class="panel-collapse collapse">
            {% if visits.oneweek|length > 0 %}
            <table id="visits-table" class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nickname</th>
                        <th>Study Group</th>
                        <th>Original Scheduled Visit</th>
                        <th>Days Overdue</th>
                    </tr>
                </thead>
                <tbody>

                    {% for visit in visits.oneweek %}
                    <tr class="link-row">
                        <td><a class="btn btn-danger" href='{% url "contacts.views.visit_dismiss" visit.id %}'>No show</a> <a class="btn btn-primary" data-toggle='modal' data-target='#visitScheduleModal' data-visit={{visit.id}}>Visited</a>
                        </td>
                        <td>{{visit.contact.nickname}}</td>
                        <td>{{visit.contact.study_group}}</td>
                        <td>{{visit.original}}</td>
                        <td>{{visit.overdue}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>


    <div class="panel panel-default action-item visit-list">
        <a data-toggle="collapse" data-target="#collapseFourWeeks" href="#collapseFourWeeks">
            <div class="panel-heading">More than 4 weeks overdue <span class="badge pull-right">{{visits.onemonth|length}}</span>
            </div>
        </a>
        <div id="collapseFourWeeks" class="panel-collapse collapse">
            {% if visits.onemonth|length > 0 %}
            <table id="visits-table" class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nickname</th>
                        <th>Study Group</th>
                        <th>Original Scheduled Visit</th>
                        <th>Days Overdue</th>
                    </tr>
                </thead>
                <tbody>

                    {% for visit in visits.onemonth %}
                    <tr class="link-row">
                        <td><a class="btn btn-danger" href='{% url "contacts.views.visit_dismiss" visit.id %}'>No show</a> <a class="btn btn-primary" data-toggle='modal' data-target='#visitScheduleModal' data-visit={{visit.id}}>Visited</a>
                        </td>
                        <td>{{visit.contact.nickname}}</td>
                        <td>{{visit.contact.study_group}}</td>
                        <td>{{visit.original}}</td>
                        <td>{{visit.overdue}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>

<script src='{% static "js/visit_modal.js" %}'></script>

{% endblock %}
