{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!--<link rel='stylesheet' href='{% static "libs/font-awesome/css/font-awesome.css" %}'>-->

    <link rel='stylesheet' href='{% static "css/mwach.css" %}'>
    <link rel='stylesheet' href='{% static "css/style.css" %}'>

    <script src='{% static "libs/jquery.js" %}'></script>
    <script src='{% static "libs/bootstrap/js/bootstrap.js" %}'></script>
    <script src='{% static "libs/bootstrap-switch/js/bootstrap-switch.min.js" %}'></script>
    <script src='{% static "libs/fuelux/js/fuelux.min.js" %}'></script>

    <title>{% block title %}mWaCHx{% endblock %}</title>

</head>

<body class='fuelux {% url "django.contrib.auth.views.login" as u %}{% if request.path == u %} login-page{% endif %}'>
{% block body %} Website base template {% endblock %}
</body>

</html>
