*.swp
*.db
*.pyc
*~
*.json
*.log
*.xlsx

# Node and Bower
node_modules/
bower_components/
!package.json
!bower.json

# Ignore compiled code
mwach/static/css/
mwach/static/mwachx.js
mwach/static/components.js
*.map

ignore/
local_settings.py
