Django>=1.8.4
pytz>=2015.6
lesscpy>=0.10.2
python-dateutil>=2.4.0
requests>=2.2.1
django-crispy-forms>=1.5.2
django-jsonview>=0.4.3
django-parsley>=0.5
django-constance>=1.1
django-picklefield>=0.3.1
djangorestframework>=3.1.3
markdown>=2.6
django-filter>=0.10
openpyxl>=2.2.6
