Django>=1.7.3
pytz>=2014.10
lesscpy>=0.10.2
python-dateutil>=2.4.0
requests>=2.2.1
django-crispy-forms>=1.4.0
django-jsonview>=0.4.3
django-parsley>=0.5
django-constance>=1.0.1
django-picklefield>=0.3.1
