<div class="avatar mw-4x" ng-class="{'nurse pull-right':message.is_nurse, 'system pull-right':message.is_system, 'participant pull-left':!message.is_outgoing}">
  <i class="mw" ng-class="{'mw-user-md':message.is_nurse, 'mw-monitor-bdr':message.is_system, 'mw-mwach-phone':!message.is_outgoing}"></i>
</div>

<div class="message" ng-class="{'nurse':message.is_nurse, 'system':message.is_system, 'participant':!message.is_outgoing, 'pull-right':message.is_outgoing, 'pull-left':!message.is_outgoing}">
  
  <div class="msg-header clearfix">
    <strong class="pull-left">
      {{message.is_nurse ? "Nurse" : message.is_system ? "System" : participant.nickname}}
    </strong>
    <div class="pull-right">{{message.created | date:'d MMM yy H:mm'}}</div>

    <div ng-if="!message.is_system" class="center-block">
      
      <a href="#/" ng-if="!message.is_translated">
        <span class="badge-warning">Untranslated</span>
      </a>

      {{message.is_translated && message.translation_skipped ? '(Translation skipped)' : ''}}
      
      <!-- toggle buttons to a shared directive? -->
      <label ng-if="message.is_translated && !message.translation_skipped" class="btn btn-xs mw-toggle-btn" ng-class="{'active': message.show_translation}" ng-click="message.show_translation = !message.show_translation" tooltip="Toggle between original text and translation">
        <i class="mw mw-language"></i>
      </label>

      <button ng-if="message.is_translated" class="btn btn-xs btn-default">
        <i class="mw mw-redo"></i>
      </button>

    </div>
  </div>

  <div class="msg-content">{{message.show_translation ? message.translated_text : message.text}}</div>
</div>