<td>
  <a class='btn btn-info'
     tooltip='{{visit.participant.nickname}} came for a {{visit.visit_type_display}} visit'
     ng-click='attendedVisit($event)'>
    <i class='mw mw-2x mw-hospital-o '></i>
  </a>
</td>
<td>{{visit.participant.study_id}}</td>
<td>{{visit.participant.anc_num}}</td>
<td>{{visit.participant.nickname}}</td>
<td>{{visit.visit_type_display}}</td>
<td>{{visit.participant.status}}</td>
<td >
  <strong ng-if='visit.edited'>{{visit.scheduled | date : 'EEE MMM d, yyyy'}}<sup>*</sup></strong>
  <span ng-if='!visit.edited'>{{visit.scheduled | date : 'EEE MMM d, yyyy'}}</span>
</td>
<td>{{visit.days_overdue*-1}}</td>
