<div class='row'>
  <h3><i class="mw mw-hospital-o"></i> Pending visits this week </h3>

<table class='table table-hover table-striped table-condensed'>
  <thead>
    <tr>
      <th></th> <th>Study ID</th><th>ANC</th><th>Name</th> <th>Type</th> <th>Study Group</th>
      <th>Status</th> <th>Orig. Scheduled Visit</th> <th>Days Overdue</th>
    </tr>
  </thead>
  <tbody>
    <tr mw-pending-visit ng-repeat='visit in current' visit='visit' visits='current'
        ui-sref='participant-details({study_id:visit.participant.study_id})' class='pointer' ></tr>
  </tbody>
</table>

<h3><i class="mw mw-book"></i> Today's Bookchecks </h3>

<table class='table table-hover table-stribed table-condensed'>
  <thead>
    <tr>
      <th></th> <th>Study ID</th> <th>Name</th> <th>Type</th> <th>Study Group</th>
      <th>ANC</th> <th>Orig. Scheduled Visit</th> <th>Days Overdue</th>
    </tr>
  </thead>
  <tbody>
    <tr mw-pending-visit ng-repeat='visit in bookchecks' visit='visit' visits='bookchecks'
        ui-sref='participant-details({study_id:visit.participant.study_id})' class='pointer' ></tr>
  </tbody>
</table>

</div>
