{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Participant{% endblock %}

{% block content %}
    <div class="page-content">
        <h1> Enroll Participant </h1>
        <form id='contact-create-form' action='' method='post' class='form-horizontal' role="form" novalidate data-parsley-validate>
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
    
{% endblock %}

{% block js_onLoad %}
    mw.makeDatepickers();
{% endblock %}
