{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Contact{% endblock %}

{% block content %}

        <div class='modal fade' id='newVisitModal' role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                    <form method='post' action='/contact/send'>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Send Message</h4>
                    </div>
                    <div class="modal-body message-send">
                        {% csrf_token %}
                        <div id='reply-message' class='alert alert-success'></div>
                        <textarea class='form-control' name='message' rows='5' placeholder='Message to send....'></textarea>
                        <input type='hidden' name='study_id' value='{{contact.study_id}}'/>
                        <input type='hidden' name='parent_id' value=''/>
                    </div>
                    <div class="modal-footer">
                        <input class='btn btn-primary' type='submit' value='Send'/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    </form>
                </div>
          </div>
        </div>
        

        <div class='col-md-2 scroll col-full'>
            {% include 'contacts/contact_list_frag.html' %}
        </div>
        
        <div class='col-md-6 scroll col-full'>
            <button data-toggle='modal' data-target='#newVisitModal' class='btn btn-primary form-control'>Send</button>
            <div id='message-list'>
                {% for message in contact.message_set.all %}
                   <div class='message {{message.html_class}}'>
                        <div class='icon'>
                            <i class='fa fa-{% if message.is_outgoing %}reply{% else %}share{% endif %}'></i>
                        </div>
                        <div class='top'><span>{{message.sent_by}} -- {{message.weeks}} wk</span><i>{{ message.created }}</i></div>
                        <div class='content'>{{ message.text }}</div>
                        <div class='footer'>
                            {% if not message.is_outgoing %}
                                <button class='btn btn-sm btn-primary' data-toggle='modal' data-target='#newVisitModal' data-message='{{message.id}}'>Reply</button>
                            {% endif %}
                            {% if not message.is_viewed %}
                                <a class='btn btn-sm btn-primary' href='{% url "contacts.views.message_dismiss" message.id%}'>Dismiss</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <div class='col-md-4 col-full'>
            
            <div class='details-group'>
                <h1>Contact Details </h1>
                <div class='details'>
                <table>
                    <tr><td>Contact ID</td><td>{{contact.study_id|stringformat:"03i"}}</td></tr>
                    <tr><td>ANC #</td><td>{{contact.anc_num}}</td></tr>
                    <tr><td>Nickname</td><td>{{contact.nickname}}</td></tr>
                    <tr><td>Phonenumber</td><td>{{contact.phone_number}}</td></tr>
                    <tr><td>Pregnancy Status</td><td>{{contact.status}}</td></tr>
                    <tr><td>Due Date</td><td>{{contact.due_date}}</td></tr>
                </table>
                </div>
            </div>
            
            <div class='details-group'>
                <h1>Clinic Visit History</h1>
                <div class='details'>
                     <table>
                        <tr><td>Next Visit</td><td>{{contact.visit_set.first.scheduled}}</td></tr>
                    </table>
                     <h3>
                        <a data-toggle="collapse" href='#previous-visits-detail' aria-expanded="false">
                            <i class='fa fa-chevron-circle-up'></i>
                            <i class='fa fa-chevron-circle-down'></i>
                            Previous Visits ({{contact.visit_set.count}})
                        </a>
                    </h3>
                    <div id='previous-visits-detail'  class='extra collapse' data-heading='Previous Visits'>
                        <table>
                            <tr><th>Scheduled</th><th>Arrived</th></tr>
                            {% for visit in contact.visit_set.all %}
                            <tr><td>{{visit.scheduled}}</td><td>{{visit.arrived}}</td></tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            
            <div class='details-group'>
                <h1>Clinic Notes</h1>
                <div class='details'>
                    <div class='note'>
                       This is the first note 
                    </div>
                    <h3>
                        <a data-toggle='collapse' href='#previous-notes-detail' aria-expanded='false'>
                            <i class='fa fa-chevron-circle-up'></i>
                            <i class='fa fa-chevron-circle-down'></i>
                            Previous Notes
                        </a>
                    </h3>
                    <div id='previous-notes-detail' class='extra collapse' data-heading='Previous Notes'>
                        {% for n in '0123' %}
                            <div class='note'>
                                Another Note
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
        </div>
        
        <script src='{% static "js/contact_messages.js" %}'></script>
        
{% endblock %}
