{% load staticfiles %}
{% comment %}
Renders a list of all contacts from the contex
{% endcomment %}

<div id='contact-pane'>
    
    <div id='contact-header'>
        <div class='input-group'>
            <span id='contact-search-icon' class='input-group-addon'><i class='fa fa-search'></i></span>
            <input type='text' id='contact-search' class='form-control' placeholder='name, anc, or study ID'>
        </div>
        <ul class='filter-icons'>
            <li>{% include 'icons/two-way.html' %}</li>
            <li>{% include 'icons/one-way.html' %}</li>
            <li>{% include 'icons/control.html' %}</li>
            <li>{% include 'icons/pending.html' %}</li>
        </ul>
    </div>

    <div id="contact-list">
    {% for c in contacts %}
        <a class='contact {{c.study_group}} {% if contact.study_id == c.study_id %}selected{% endif %}' id='{{c.study_id}}' 
            data-search-str='{{c.study_id}}{{c.nickname}}{{c.anc_num}}'
            href='/contact/{{c.study_id}}'>
            <div class='left'>{% include 'contacts/contact_icon.html' %}</div>
            <div class='top'> {{c.study_id|stringformat:'03i'}} <em>#{{c.anc_num}}</em> -- {{c.nickname}}</div>
            <div class='bottom'>{{c.status}} -- {{c.weeks}} wk</div>
            <div class='right'>
                {% if c.pending %}
                    {% with pending=c.pending %}
                        {% include 'icons/pending.html' %}
                    {% endwith %}
                {% endif %}
            </div>
        </a>
    {% endfor %}
    </div>

</div>

<script src='{% static "js/contact_list.js" %}'></script>
