{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Contact{% endblock %}

{% block content %}

        <div class='modal fade' id='sendModal' role="dialog"  aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                    <form method='post' action='/contact/send'>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Send Message</h4>
                    </div>
                    <div class="modal-body message-send">
                        {% csrf_token %}
                        <div id='reply-message' class='alert alert-success'></div>
                        <textarea class='form-control' name='message' rows='5' placeholder='Message to send....'></textarea>
                        <input type='hidden' name='study_id' value='{{contact.study_id}}'/>
                        <input type='hidden' name='parent_id' value=''/>
                    </div>
                    <div class="modal-footer">
                        <input class='btn btn-primary' type='submit' value='Send'/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    </form>
                </div>
          </div>
        </div>
        
        <div class='modal fade' id='contactDetailsModal' role='dialog' aria-hidden='true'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Contact Details</h4>
                    </div>
                    
                    <div class='modal-body'>
                        {{modify_form.as_p}}
                    </div>
                    
                    <div class='modal-footer'>
                        <input class='btn btn-primary' type='submit' value='Modify'/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class='modal fade' id='addNoteModal' role='dialog' aria-hidden='true'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <form method='post' action='/contact/note/'>
                    <div class='modal-header'>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Note</h4>
                    </div>
                    
                    <div class='modal-body'>
                        {% csrf_token %}
                        <textarea class='form-control' name='comment' rows='5' placeholder='Message to send....'></textarea>
                        <input type='hidden' name='study_id' value='{{contact.study_id}}'/>
                    </div>
                    
                    <div class='modal-footer'>
                        <input class='btn btn-primary' type='submit' value='Add'/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class='col-md-10 col-md-offset-1'>
            <h3>Messages and Contact Infomation for <em>{{contact.nickname}}</em> -- ID: {{contact.study_id_short}} ANC: {{contact.anc_num}} -- {{contact.weeks_display}} -- {{contact.get_study_group_display}}</h3>
        </div>
        
        <div class='col-md-6 scroll col-full col-md-offset-1'>
            <div class='btn-group btn-group-justified'>
                <a data-toggle='modal' data-target='#sendModal' class='btn btn-success'>Send Message</a>
                <a class='btn btn-info'>Record Call</a>
            </div>
            <div id='message-list'>
                {% for message in contact.message_set.all %}
                   <div class='message {{message.html_class}}'>
                        <div class='icon'>
                            <i class='fa fa-{% if message.is_outgoing %}reply{% else %}share{% endif %}'></i>
                        </div>
                        <div class='top'><span>{{message.sent_by}} -- {{message.weeks}} wk</span><i>{{ message.created }}</i></div>
                        <div class='content'>{{ message.text }}</div>
                        <div class='footer'>
                            {% if not message.is_outgoing %}
                                <button class='btn btn-sm btn-primary' data-toggle='modal' data-target='#sendModal' data-message-id='{{message.id}}'>Reply</button>
                            
                            {% if not message.is_viewed %}
                                <a class='btn btn-sm btn-primary' href='{% url "contacts.views.message_dismiss" message.id%}'>Dismiss</a>
                            {% endif %}
                                <input type='checkbox' value='english'>English
                                <input type='checkbox' value='kiswahili'>Kiswahili
                                <input type='checkbox' value='dholuo'>Dholuo
                                <br>
                                Prompted
                                <input type="checkbox" name="my-checkbox" data-on-text="Yes" data-off-text="No" checked>

                                <script type="text/javascript">
                                    $("[name='my-checkbox']").bootstrapSwitch();
                                </script>
                                
                                <i style='padding-left:20px'> Related </i>
                                <input type='radio' value='1' name='related'>Yes
                                <input type='radio' value='0' name='related'>No
                                
                                <select name='topic'>
                                    <option value='none'>None</option>
                                    <option value='adherence'>Adherence</option>
                                    <option value='side-effects'>Side Effects</option>
                                    <option value='visits'>Visits</option>
                                    <option value='antenatal-concerns'>Antenatal Concerns</option>
                                    <option value='delivery-concenrs'>Delivery Concerns</option>
                                    <option value='family-planing'>Family Planing</option>
                                    <option value='infant-health'>Infant Health</option>
                                    <option value='sexual-behavior'>Sexual Behavior</option>
                                    <option value='other'>Other</option>
                                </select>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <div id='contact-details' class='col-md-4 col-full'>
            
            <div class='panel panel-success'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>Contact Details <i id='context-edit' class='fa fa-cogs pull-right' data-toggle='modal' data-target='#contactDetailsModal'></i></h3>
                </div>
                <div class='panel-body'>
                    <div class='details'>
                    <table>
                        <tr><td>Partner Name</td><td>{{contact.partner_name}}</td></tr>
                        <tr><td>Age</td><td>{{contact.age}}</td></tr>
                        <tr><td>Phonenumber</td><td>{{contact.phone_number}}</td></tr>
                        <tr><td>Relationship Status</td><td>{{contact.relationship_status}}</td></tr>
                        <tr><td>Previous Pregnancies</td><td>{{contact.previous_pregnancies}}</td></tr>
                        <tr><td>SMS Track</td><td>{{contact.condition}}</td></tr>
                        <tr><td>Family Planning</td><td>{{contact.family_planning}}</td></tr>
                        <tr><td>ART Initiation</td><td>{{contact.art_initiation}}</td></tr>
                        <tr><td>Due Date</td><td>{{contact.due_date}}</td></tr>
                    </table>
                    </div>
                
                </div>
            </div>
            
            <div class='panel panel-success'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>Clinic Visit History</h3>
                </div>
                <div class='panel-body'>
                    <div class='details'>
                         <table>
                            <tr><td>Next Visit</td><td>{{contact.visit_set.first.scheduled}}</td></tr>
                        </table>
                         <h3>
                            <a data-toggle="collapse" href='#previous-visits-detail' aria-expanded="false">
                                <i class='fa fa-chevron-circle-up'></i>
                                <i class='fa fa-chevron-circle-down'></i>
                                Previous Visits ({{contact.visit_set.count}})
                            </a>
                        </h3>
                        <div id='previous-visits-detail'  class='extra collapse' data-heading='Previous Visits'>
                            <table>
                                <tr><th>Scheduled</th><th>Arrived</th></tr>
                                {% for visit in contact.visit_set.all %}
                                <tr><td>{{visit.scheduled}}</td><td>{{visit.arrived}}</td></tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
            
             <div class='panel panel-success'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>Clinic Notes<i id='note-add' class='fa fa-plus-square pull-right' data-toggle='modal' data-target='#addNoteModal'></i></h3>
                </div>
                <div class='panel-body'>
                    <div class='details'>
                    <div class='note'>
                       {{contact.note_set.first.comment}}
                    </div>
                    <h3>
                        <a data-toggle='collapse' href='#previous-notes-detail' aria-expanded='false'>
                            <i class='fa fa-chevron-circle-up'></i>
                            <i class='fa fa-chevron-circle-down'></i>
                        </a>
                    </h3>
                    <div id='previous-notes-detail' class='extra collapse' data-heading='Previous Notes'>
                        {% for note in contact.note_set.all %}
                            <div class='note'>
                                {{note.comment}}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                </div>
                
            </div>
            
        </div>
        
        <script src='{% static "js/contact_messages.js" %}'></script>
        
{% endblock %}
