@import "libs/bootstrap-src/bootstrap.less";
@import "libs/bootstrap-switch-src/bootstrap-switch.less";
// @import "libs/font-awesome-src/font-awesome.less";
@import "mwachx.less";
@import "libs/fuelux-src/fuelux.less";
// Colors
@dark-base: rgb(47, 72, 95);
// Override bootstrap
@brand-success: rgb(0, 196, 158);
@brand-info: rgb(43, 150, 222);
@brand-warning: rgb(247, 119, 0);
@brand-danger: rgb(251, 41, 28);
@brand-primary: lighten(@dark-base, 10%);
@navbar-inverse-bg: @brand-primary;
@navbar-inverse-link-active-bg: darken(@dark-base, 5%);
@navbar-inverse-link-color: lighten(@gray-light, 30%);
@navbar-inverse-border: @navbar-inverse-link-active-bg;



@brand-highlight: rgb(172, 60, 184);


@btn-highlight-color:              #fff;
@btn-highlight-bg:                 @brand-highlight;
@btn-highlight-border:             darken(@btn-highlight-bg, 5%);

.btn-highlight {
  .button-variant(@btn-highlight-color; @btn-highlight-bg; @btn-highlight-border);
}


// trevor colors!
@accent-light: #B2E6FF;
@accent-dark: #336680;
@background-light: #F0F0F0;
@background-mid: #A0A0A0;
@background-dark: #707070;
// @darker: rgb(45,62,80);
// Some specific bits for nav
@dark: lighten(@dark-base, 10%);
@darker: darken(@dark-base, 5%);
@navtext: white;


@content-width: 80%;


html {
    width: 100%;
    height: 100%;
}
body {
    background-color: white;
    padding: 0px;
    margin: 0px;
}
/**
 * nav changes
 **/

.navbar-inverse .brand-status-success {
    background-color: @brand-success;
    &:hover, &:focus {
        background-color: darken(@brand-success, 10%)
    }
}
.navbar-inverse .brand-status-warning {
    background-color: @brand-warning;
    &:hover, &:focus {
        background-color: darken(@brand-warning, 10%)
    }
}
.navbar-inverse .brand-status-danger {
    background-color: @brand-danger;
    &:hover, &:focus {
        background-color: darken(@brand-danger, 10%)
    }
}
.navbar {
    border-bottom: 5px solid @navbar-inverse-link-active-bg;
}
.nav {
    font-size: 1.2em;
}
.navbar-inverse .navbar-brand i {
    color: @navbar-inverse-link-active-color;
    font-size: 1.5em;
}
/**
 * Main Layout: Center Full Screen Column
 **/

#content {
    height: auto;
    width: auto;
    bottom: 0em;
    top: 3.9em;
    right: 0em;
    left: 0em;
    position: absolute;
    overflow-y: auto;
    box-sizing: border-box;
}
// #content>.container-fluid, #content>.container-fluid>.row {
//     padding: 0px;
//     margin: 0px;
// }
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
#content .row>div:first-child {
    padding-left: 0em;
}
#content .row>div:last-child {
    padding-right: 0em;
}
.scroll {
    overflow-y: auto;
    max-height: 100%;
}
/**
 * Bootstrap Fixes
 **/

.col-full {
    padding: 0px;
}

// .btn-group .btn {
//     border-left: 1px solid #ccc;
//     }
// .btn-group .btn:last-child {
//     border-right: 1px solid #ccc;
//     }
.btn-group .btn+.btn {
    margin: 0;
}

/**
 * Form validation errors
 **/
// .parsley-errors-list:extend(.list-unstyled) {
//     li {
//         color: @state-danger-text;
//     }
// }
// .parsley-error {
//     border-color: @state-danger-text;
// }

#contact-create-form .form-group{
    .make-md-column(4);
}

.buttonHolder {
    &:extend(.text-center);
}
/**
 * Contact List
 **/

#contacts-header {
    #contacts-search-group {
        float: left;
    }
    .filter-icons {
        margin: 0px;
        padding: 0px;
        float: left;
        display: inline;
        li {
            display: inline-block;
            background-color: lighten(@dark-base, 20%);
            cursor: pointer;
            &:hover {
                background-color: lighten(@dark-base, 30%);
            }
            &.active {
                background-color: @darker;
            }
        }
    }
}
.message-icon {
    font-size: 1.5em;
}
.message-arrow {
    color: white;
    position: relative;
    top: -.3em;
}
.one-way .message-icon {
    color: gray;
}
.one-way:hover .message-icon {
    color: #428bca;
}
/*
  * Contact Group
  */

#contact-details {
    .panel-body table {
        width: 80%;
        margin: auto;
    }
    tr {
        border-bottom: 1px dashed black;
        background-color: @background-light;
        td {
            padding: 5px 20px;
        }
        td:firstchild {
            textalign: right;
            &:after {
                content: ":";
            }
        }
    }
}
#context-edit, #note-add {
    cursor: pointer;
}
/*
 * Contact Message List
 */


#new-message-list {
    .panel {
        margin-top: 10px;
        .message {
            background-color: @background-light;
            padding: 0px;
            margin-bottom: 10px;
            display: table;
            width: 100%;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                background-color: @background-mid;
                .message-label {
                    border-right: 1px solid @background-dark;
                    width: 52px;
                }
            }
            .message-label {
                width: 50px;
                background-color: @background-mid;
                vertical-align: middle;
                text-align: center;
                display: table-cell;
                height: 100%;
            }
            .message-content {
                vertical-align: middle;
                padding: 5px 5px 5px 20px;
                text-align: left;
                display: table-cell;
            }
            .date {
                text-align: center;
                width: 150px;
            }
        }
    }
}
/*
 * Week Message List
 */

#message-weeks {
    padding-left: 10px;
    h1 {
        font-size: 1.5em;
        margin: 5px;
    }
    .messages {
        padding-left: 10px;
        .message {
            span {
                display: block;
                font-style: italic;
            }
            div {
                padding-left: 25px;
            }
        }
    }
}
/*
 * Data Toggle Collapse
 */

a[data-toggle='collapse'] {
    text-decoration: none;
    color: black;
    &:before {
        font-family: "mwachx";
        content: @mw-var-chevron-circle-down;
    }
    &.collapsed:before {
        content: @mw-var-chevron-circle-right;
    }
}
#contacts-table {
    tbody tr {
        cursor: pointer;
    }
}
.dashboard {
    h1 {
        background-color: @background-mid;
        margin: 0px;
        font-size: 2em;
        padding-left: 10px;
    }
    #new-messages {
        .message {
            border: 1px solid black;
            background-color: @background-light;
            padding: 5px;
            border-radius: 20px;
            margin: 5px 20px;
            &:nth-child(odd) {
                background-color: @background-mid;
            }
            div {
                margin-left: 20px;
            }
            span em {
                font-weight: bold;
            }
        }
    }
}
.custom-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    top: 0.2em;
    font-size: 0.5em;
    strong {
        font-weight: bold;
        font-size: 0.7em;
    }
}
.sms-text {
    font-size: 0.3em;
}
.page-content {
    width: @content-width;
    margin: 20px auto 20px auto;
}
.action-item:extend(.page-content) {
    text-align: left;
    padding: 0px;
    display: table;
    border-bottom: solid 0.5em;
}
.btn-danger {
    border-color: darken(@btn-danger-border, 12%);
    .action-item-icon {
        background-color: darken(@btn-danger-bg, 10%);
    }
}
.btn-highlight {
    border-color: darken(@btn-highlight-border, 12%);
    .action-item-icon {
        background-color: darken(@btn-highlight-bg, 10%);
    }
}
.btn-success {
    border-color: darken(@btn-success-border, 12%);
    /* start with dark border */
    
    .action-item-icon {
        background-color: darken(@btn-success-bg, 10%);
    }
}
.btn-info {
    border-color: darken(@btn-info-border, 12%);
    /* start with dark border */
    
    .action-item-icon {
        background-color: darken(@btn-info-bg, 10%);
    }
}
/* fix for centering things */

.action-item-text, .action-item-icon {
    vertical-align: middle;
    display: table-cell;
}
.action-item-text {
    padding-left: 15px;
}
.action-item-icon {
    // padding: 15px;
    width: 1.5em;
    text-align: center;
    font-size: 2em;
    white-space: nowrap;
}
#visits-table tbody tr td:first-child {
    width: 175px;
}
.badge {
    font-size: inherit;
}

.btn-xxl {
    font-size: 3em;
}
.btn-xxs {
    font-size: 6px;
}
.visit-btn {
    margin-left: 0;
    width: 100%;
}
.action-btn-group {
    width: 80%;
    margin: 0 auto;
}
.action-button {
    font-size: 2em;
}
.visit-list h3 {
    font-weight: 200;
    color: @gray-dark;
    border-bottom: 1px solid @legend-border-color;
}
.accordion-toggle {
    display: flex;
    border-bottom-right-radius: 0;
    .panel-heading {
        display: flex;
        flex: 1;
    }
    .badge {
        height: 1.5em;
        margin: auto 1em auto 0;
    }
    .btn {
        width: 2.9em;
    }
}
.accordion-toggle .btn:before {
    font-family: "mwachx";
    content: @mw-var-chevron-down;
}
.accordion-toggle.collapsed {
    .btn:before {
        content: @mw-var-chevron-right;
    }
    border-bottom: none;
}
.btn-stack {
    padding-top: 0;
    padding-bottom: 0;
}
.link-row i.fa-fw {
    width: 1.3em;
    height: 0.8em;
    font-size: 1.4em;
}
.x-out {
    text-shadow: 1px 1px lightgray;
    color: darken(@state-danger-text, 10%);
}

.tooltip-icon {
    display: inline-block;
}
.with-errors ul:extend(.list-unstyled){
    li:extend(.pull-right){
        padding-right: 1em;
    }
}
/* Get rid of box in chrome */
.fuelux .datepicker-calendar-days tbody:before {
    content:"\2009";
}


.help-block {
    display: none;
}
.has-error .help-block {
    display: block;
}


/* 
 * NEW MSG PAGE
 */
// #new-messages-table tbody tr td:nth-child(2) {
//     width: 8em;
// }
.table .rowlink td:not(.rowlink-skip) {
    cursor: pointer;
}


/* 
 * Participant page
 */
.participant-header {
    // background-color: lighten(@brand-highlight, 30%);
    background-color: @panel-info-heading-bg;
    color: @panel-info-text;
    padding: 5px;
    margin-bottom: 20px;
}
.skinny-row {
    margin-right: 0;
    margin-left: 0;
}
.scroll-row {
    margin-right: 10px;
}
.details-table tbody tr td:first-child {
    font-weight: bold;
    text-align: right;
}

.details-table-offset tbody tr td {
    vertical-align: middle;
    &:nth-child(2) {
        font-weight: bold;
        text-align: right;
    }
}

.visit-table tbody tr td {
    border:none;
}
.table-label {
    text-align: right;
}
.table-btns {
    margin-left: 20px;
}

.input-mini {
    height: 1.4em;
    line-height: 1.4em;
}
// #participant-page .row {
//     display: table;
// }

// #participant-page [class*="col-"] {
//     float: none;
//     display: table-cell;
//     vertical-align: top;
// }
.avatar-nurse {
    vertical-align: bottom;
    color: @brand-success;
}
.avatar-system {
    vertical-align: bottom;
    color: gray;
}
.avatar-participant {
    vertical-align: bottom;
    color: @brand-primary;
}
#msg-list-btn-group .btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.bootstrap-switch-container span { white-space: nowrap; }

#messagesList {
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 6px 10px;
    width: 100%;
    height: 625px;
    .message {
        border-radius: 20px 0px;
        margin-bottom: 15px;
        padding: 0;
        background-color: @panel-info-heading-bg;
        position: relative;

        .top {
            border-radius: 20px 0 0 0;
            background-color: darken(@panel-info-heading-bg, 12%);
            &:extend(.clearfix all);
            display: flex;
            align-items: center;
            .header-item {
                display: flex;
                font-size: .75em;
                padding: 0px 10px;
                flex: 1;
                span {
                    display: block;
                }
            }
            .badge {
                text-align: center;
            }
            .date {
                justify-content: flex-end;
            }
        }

        .content {
            padding: 0 10px 0.3em 10px;
        }

        &.system, &.nurse {
            border-radius: 0 20px;
            background-color: @gray-lighter;
            .top {
                border-radius: 0 20px 0 0;
                background-color: darken(@gray-lighter, 12%);
                padding-right: 0.5em;
            }
            .content {
                padding-left: 15px;
            }
        }
        &.nurse {
            background-color: @panel-success-heading-bg;
            .top {
                background-color: darken(@panel-success-heading-bg, 12%);
            }
        }

        .icon {
            position: absolute;
            left: -10px;
            top: -10px;
            border-radius: 10px;
            height: 25px;
            width: 25px;
            border: 2px solid black;
            background-color: white;
            text-align: center;
            padding-top: .2em;
        }


        &.client {
            .content {
                border-bottom: solid 1px @panel-info-text;
                margin-bottom: 1em;
            }
        }
        // .footer .col-md-4,
        // .footer .col-md-6 {
        //     text-align: right;
        //     vertical-align: middle;
        // }
    }
}

// Thank you: https://proto.io/freebies/onoff/
.onoffswitch {
    position: relative; width: 70px;
    font-size:1.2em;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    // border: 2px solid #666666; 
    border-radius: 3px;
    font-weight: normal;
    margin:0;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 1.5em; padding: 0; line-height: 1.5em;
    font-size: 1em; color: white;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Translated";
    padding-left: 5px;
    background-color: @brand-primary; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Original";
    padding-right: 1em;
    background-color: #FFFFFF; color: #666666;
    text-align: right;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    right: 0px; 
}

.btn-language {
    background-color: lightgray;
    border-color: gray;
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
        background-color: @brand-primary;
        color: white;
    }
}
.btn-sm {
    font-size: 0.7em;
    padding: 2px 4px;
}

/* 
 * Translation page
 */
#translations-table {
    tbody tr td:nth-child(2) {
        width: 80px;
    }
    tbody tr td:nth-child(3),
    tbody tr td:nth-child(4) {
        width: 35%;
    }

    tbody tr.dirty{
        background-color: @panel-warning-heading-bg;
    }
}

.textblob {
    padding: 5px;
    &[contenteditable] {
        outline: 1px dotted lighten(@brand-highlight, 10%);
        &:hover:not(:focus) {
            outline: 2px solid @brand-highlight;
        }
    }
}
.nurse-row{
    background-color: rgba(173, 255, 47, .2);
}

/*
 * Login screen
 */
.login-page {
    background-color: @gray-lighter;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    input[type="text"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[type="password"] {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
/* TOOD: Temporary */
.navbar-collapse {
    h3 { 
        margin-bottom:0;
        .btn {
            border: none;
            padding-bottom: 0;
        }
    }
}


