@import "libs/bootstrap-src/bootstrap.less";

@dark-base:             rgb(47, 72, 95);

@brand-success:         rgb(0,196,158);
@brand-info:            rgb(43,150,222);
@brand-danger:          rgb(251,41,28);
@brand-primary:         lighten(@dark-base, 10%);

@navbar-inverse-bg:                 @brand-primary;
@navbar-inverse-link-active-bg:     darken(@dark-base, 5%);
@navbar-inverse-link-color:         lighten(@gray-light, 30%);
@navbar-inverse-border:             @navbar-inverse-link-active-bg;

@accent-light: #B2E6FF;
@accent-dark: #336680;
@background-light: #F0F0F0;
@background-mid: #A0A0A0;
@background-dark: #707070;
// @darker: rgb(45,62,80);
@dark: lighten(@dark-base, 10%);
@darker: darken(@dark-base, 5%);
@navtext: white;
html {
    width: 100%;
    height: 100%;
}
body {
    background-color: white;
    padding: 0px;
    margin: 0px;
}
/**
 * Main Layout: Center Full Screen Column
 **/

 .navbar {
    border-bottom: 5px solid @navbar-inverse-link-active-bg;
 }
 .nav {
    font-size: 1.2em;
 }

#content {
    height: auto;
    width: auto;
    bottom: 0em;
    top: 3.9em;
    right: 0em;
    left: 0em;
    position: absolute;
    overflow-y: auto;
    box-sizing: border-box;
}
#content>.container-fluid, #content>.container-fluid>.row {
    padding: 0px;
    margin: 0px;
}
#content .row>div:not(:first-child) {
    border-left: 1px solid #ddd;
}
#content .row>div:first-child {
    padding-left: 0em;
}
.scroll {
    overflow-y: auto;
    max-height: 100%;
}
/**
 * Bootstrap Fixes
 **/

.col-full {
    padding: 0px;
}
/**
 * Contact List
 **/

#contact-pane {
    .contact {
        border-bottom: 1px solid gray;
        text-decoration: none;
        display: block;
        color: black;
        &:hover {
            text-decoration: none;
            color: #428bca;
        }
        &:nth-child(odd) {
            background-color: @background-light;
        }
        &.selected {
            font-weight: bold;
        }
        .fa-stack {
            float: left;
        }
        .bottom {
            font-size: .75em;
            font-style: italic;
            position: relative;
            top: -.5em;
            font-weight: normal;
        }
        .right {
            float: right;
            position: relative;
            top: -2.25em;
        }
    }
    .filter-icons {
        margin: 0px;
        padding: 0px;
        position: relative;
        li {
            display: inline-block;
            background-color: lighten(@dark-base, 20%);
            cursor: pointer;
            &:hover {
                background-color: lighten(@dark-base, 30%);
            }
            &.active {
                background-color: @darker;
            }
        }
    }
}
.message-icon {
    font-size: 1.5em;
}
.message-arrow {
    color: white;
    position: relative;
    top: -.3em;
}
.one-way .message-icon {
    color: gray;
}
.one-way:hover .message-icon {
    color: #428bca;
}
/*
  * Contact Group
  */

.details-group {
    h1 {
        background-color: @background-mid;
        text-align: center;
        margin: 0px;
    }
    h3 {
        font-size: 1.5em;
        margin: 0px;
        background-color: @background-mid;
    }
    div.details {
        margin: auto;
        width: 80%;
        margin-bottom: 5px;
    }
    tr {
        border-bottom: 1px dashed black;
        background-color: @background-light;
        td {
            padding: 5px 20px;
        }
        td:first-child {
            text-align: right;
            &:after {
                content: ":";
            }
        }
    }
}
/*
 * Contact Message List
 */

#message-list {
    padding: 10px 25px;
    .message {
        width: 75%;
        float: left;
        border: solid 1px black;
        border-radius: 20px 0px;
        margin-bottom: 15px;
        padding: 10px;
        background-color: #9A9A9A;
        position: relative;
        &.system, &.nurse {
            float: right;
            background-color: #E0E0E0
        }
        &.nurse {
            background-color: #C6C6C6;
        }
        .top span {
            font-size: .75em;
            padding: 0px 10px;
        }
        .top i {
            font-size: .75em;
            font-style: italic;
            float: right;
        }
        .icon {
            position: absolute;
            left: -10px;
            top: -10px;
            border-radius: 10px;
            height: 25px;
            width: 25px;
            border: 2px solid black;
            background-color: white;
            text-align: center;
            padding-top: .2em;
        }
    }
}

#new-message-list {
    
    .panel {
        margin-top:10px;
        
        .message {
            background-color:@background-light;
            border-radius:5px;
            padding:0px;
            margin-bottom:10px;
            display: table;
            width:100%;
            text-decoration:none;
            cursor:pointer;
            
            &:hover {
                background-color:@background-mid;
            }
            
            .message-count {
                width:50px;
                background-color:@background-mid;
                vertical-align: middle;
                text-align: center;
                display: table-cell;
                height:100%;
            }
            
            .message-content {
                display:table-cell;
                vertical-align:middle;
                padding: 5px 5px 5px 20px;
                
                span {
                    display:block;
                    font-style:italic;
                    padding-left:30px;
                }
            }
            
            
        }
    }
}

/*
 * Week Message List
 */

#message-weeks {
    padding-left: 10px;
    h1 {
        font-size: 1.5em;
        margin: 5px;
    }
    .messages {
        padding-left: 10px;
        .message {
            span {
                display: block;
                font-style: italic;
            }
            div {
                padding-left: 25px;
            }
        }
    }
}
/*
 * Data Toggle Collapse
 */

a[data-toggle='collapse'] {
    text-decoration: none;
    color: black;
    &[aria-expanded="true"] {
        .fa-folder, .fa-chevron-circle-up {
            display: none;
        }
    }
    &[aria-expanded="false"] {
        .fa-folder-open, .fa-chevron-circle-down {
            display: none;
        }
    }
}
#contacts-table {
    tbody tr {
        cursor: pointer;
    }
}
#contact-create-form {
    h1 {
        text-align: center;
    }
    fieldset {
        border-radius: 1em;
        margin: 20px;
        padding: 10px;
        border: 1px solid @accent-dark;
        position: relative;
        legend {
            display: inline;
            margin-left: 50px;
            width: auto;
            border: none;
            margin-bottom: 0px;
        }
    }
    .form-ele {
        min-height: 40px;
        label {
            width: 45%;
            text-align: right;
        }
        div {
            width: 45%;
            text-align: left;
            display: inline-block;
        }
    }
    input[type="submit"] {
        margin: auto;
        display: block;
    }
}
.dashboard {
    h1 {
        background-color: @background-mid;
        margin: 0px;
        font-size: 2em;
        padding-left: 10px;
    }
    #new-messages {
        .message {
            border: 1px solid black;
            background-color: @background-light;
            padding: 5px;
            border-radius: 20px;
            margin: 5px 20px;
            &:nth-child(odd) {
                background-color: @background-mid;
            }
            div {
                margin-left: 20px;
            }
            span em {
                font-weight: bold;
            }
        }
    }
}
.custom-stack {
    position: relative;
    line-height: 1em;
    vertical-align: middle;
}
.sms-text {
    font-size: 0.3em;
}
.action-item {
    width: 80%;
    margin: 20px auto 20px auto;
    text-align: left;
    padding: 0px;
    display: table;
    border-bottom: solid 8px;
}

.btn-danger {
    border-color: darken(@btn-danger-border, 12%); /* start with dark border */
    .action-item-icon {
        background-color: darken(@btn-danger-bg, 10%);
    }
}
.btn-success {
    border-color: darken(@btn-success-border, 12%); /* start with dark border */
    .action-item-icon {
        background-color: darken(@btn-success-bg, 10%);
    }
}
.btn-info {
    border-color: darken(@btn-info-border, 12%); /* start with dark border */
    .action-item-icon {
        background-color: darken(@btn-info-bg, 10%);
    }
}

/* fix for centering things */

.action-item-text,
.action-item-icon {    
    vertical-align: middle;
    display: table-cell;
}
.action-item-text {
    font-size: 3em;   
    padding-left: 15px;
}
.action-item-icon {
    padding: 15px;
    width: 1.5em;
    text-align: center;
    font-size: 6em;
    white-space: nowrap;
}
.visit-list {
    border-bottom: none;
}
#visits-table tbody tr td:first-child {
    width: 175px;
}
.badge {
    font-size: inherit;
}
.btn-xxs {
    font-size: 6px;
}
.visit-btn {
    margin-left: 0;
    width: 100%;
}
.action-btn-group {
    width: 80%;
    margin: 0 auto;
    
}
.action-button {
    font-size: 0.6em;
}
