<div class='row'>
  <h3><i class="mw mw-calendar"></i> One Month Calls</h3>

<table class='table table-hover table-stribed table-condensed'>
  <thead>
    <tr>
      <th></th>
      <th>Study ID</th>
      <th>Name</th>
      <th>Study Group</th>
      <th>ANC</th>
      <th>Days Overdue</th>
      <th>Call Count</th>
    </tr>
  </thead>
  <tbody>
    <tr mw-upcoming-call ng-repeat="call in month" call="call" call-list="month"
        class="pointer" ui-sref="participant-details({study_id:call.participant.study_id})"></tr>
  </tbody>
</table>

<h3><i class="mw mw-calendar"></i> One Year Phone Calls</h3>

<table class='table table-hover table-stribed table-condensed'>
  <thead>
    <tr>
      <th></th>
      <th>Study ID</th>
      <th>Name</th>
      <th>Study Group</th>
      <th>ANC</th>
      <th>Days Overdue</th>
      <th>Call Count</th>
    </tr>
  </thead>
  <tbody>
    <tr mw-upcoming-call ng-repeat='call in year' call='call' call-list='year'
        class="pointer" ui-sref="participant-details({study_id:call.participant.study_id})"></tr>
    </tr>
  </tbody>
</table>

</div>
