<alert ng-repeat="alert in alerts" type="warning" close="closeAlert($index)">
  <strong>{{alert}}</strong>
</alert>

<div class="row vertical-align participant-buttons">
  <div class="col-md-3 col-sm-8"> <h2>
    <input type="text" ng-model="query.text" placeholder="Search by any field" aria-label="Filter" style="width:100%"/>
  </h2> </div>

  <div class="col-md-3 btn-group" role="group" aria-label="Status Filter">
    <button onclick="this.blur()" type="button" class="btn mw-toggle-btn" ng-disabled="query.text!=''" ng-model="query.status.active" btn-checkbox>Active</button>
    <button onclick="this.blur()" type="button" class="btn mw-toggle-btn" ng-disabled="query.text!=''" ng-model="query.status.other" btn-checkbox>Other</button>
  </div>

  <div class="col-md-1" style="text-align:center">
    <h3>Count<br/>{{filteredParticipants.length}}/{{participants.length}}</h3>
  </div>

  <div class="col-md-2 col-sm-4">
    <mw-action-btn
      ui-sref='participant-new'
      mw-icon="mw-mwach-phone-add"
      mw-style="info"
      style="margin: 20px 0; width: 100%;">
      Enroll New
    </mw-action-btn>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><a href ng-click="setSort('nickname')">Name</a>
        <span ng-if="query.sortName=='nickname'"><i class='mw' ng-class='getSortClass()'></i></span>
      </th>
      <th><a href ng-click="setSort('study_id')">RAST ID</a>
        <span ng-if="query.sortName=='study_id'"><i class='mw' ng-class='getSortClass()'></i></span>
      </th>
      <th><a href ng-click="setSort('status')">Status</a>
        <span ng-if="query.sortName=='status'"><i class='mw' ng-class='getSortClass()'></i></span>
      </th>
      <th><a href ng-click="setSort('study_base_date')">EDD/DD</a>
        <span ng-if="query.sortName=='study_base_date'"><i class='mw' ng-class='getSortClass()'></i></span>
      </th>
      <th><a href ng-click="setSort('last_msg_client')">Last SMS</a>
        <span ng-if="query.sortName=='last_msg_client'"><i class='mw' ng-class='getSortClass()'></i></span>
      </th>
      <th><a href="" ng-click="setSort('next_visit_date',$event)">Next Visit</a>
        <span ng-if="query.sortName=='next_visit_date'"><i class='mw' ng-class='getSortClass()'></i></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="pointer" ui-sref='participant-details({study_id: participant.study_id})'
      ng-repeat="participant in participants | filter:participantFilter | orderBy:query.sortName:query.sortDirection as filteredParticipants"
    >
      <td>{{participant.nickname}}</td>
      <td>{{participant.study_id}}</td>
      <td>{{participant.status}}</td>
      <td>{{participant.study_base_date}}</td>
      <td>{{participant.last_msg_client}}</td>
      <td>{{participant.next_visit_date}} ({{participant.next_visit_type|capitalize}})</td>
    </tr>
</table>
