<alert ng-repeat="alert in alerts" type="warning" close="closeAlert($index)">
  <strong>{{alert}}</strong>
</alert>

<div class="row">
  <div class="col-md-9 col-sm-8">
  <h1>
    <input type="text" ng-model="query.text" placeholder="Search by any field" aria-label="Filter" style="width:100%"/>
  </h1>

  <div class="btn-group" role="group" aria-label="Group Filter">
    <button type="button" class="btn btn-primary" ng-model="query.study_group.control" btn-checkbox>Control</button>
    <button type="button" class="btn btn-primary" ng-model="query.study_group.one_way" btn-checkbox>One Way</button>
    <button type="button" class="btn btn-primary" ng-model="query.study_group.two_way" btn-checkbox>Two Way</button>
  </div>

  <div>{{query}} {{filtered.length}}</div>
  <div class="btn-group" role="group" aria-label="Status Filter">
    <button type="button" class="btn btn-primary" ng-model="query.status.pregnant" btn-checkbox>Pregnant</button>
    <button type="button" class="btn btn-primary" ng-model="query.status.post_partum" btn-checkbox>Post-Partum</button>
    <button type="button" class="btn btn-primary" ng-model="query.status.other" btn-checkbox>Other</button>
  </div>

  </div>
  <div class="col-md-3 col-sm-4">
    <mw-action-btn
      ui-sref='participant-new'
      mw-icon="mw-mwach-phone-add"
      mw-style="info"
      style="margin: 20px 0; width: 100%;">
      Enroll Participant
    </mw-action-btn>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><a href="#" ng-click="setSort('study_id')">Study ID</a></th>
      <th><a href="#" ng-click="setSort('anc_num')">ANC number</a></th>
      <th><a href="#" ng-click="setSort('nickname')">Name</a></th>
      <th><a href="#" ng-click="setSort('study_group')">Study Group</a></th>
      <th><a href="#" ng-click="setSort('status')">Status</a></th>
      <th><a href="#" ng-click="setSort('study_base_date')">EDD/DD</a></th>
      <th><a href="#" ng-click="setSort('last_msg_client')">Last SMS</a></th>
    </tr>
  </thead>
  <tbody>
    <tr class="pointer" ui-sref='participant-details({study_id: participant.study_id})'
      ng-repeat="participant in participants | filter:participantFilter | orderBy:query.sortName:query.sortDirection as filtered"
    >
      <td>{{participant.study_id}}</td>
      <td>{{participant.anc_num}}</td>
      <td>{{participant.nickname}}</td>
      <td>{{participant.study_group}}</td>
      <td>{{participant.status}}</td>
      <td>{{participant.study_base_date}}</td>
      <td>{{participant.last_msg_client}}</td>
    </tr>
</table>
