<div class="avatar mw-4x"
     ng-class="{'nurse pull-right':message.sent_by == 'nurse',
                'system pull-right':message.sent_by == 'system',
                'participant pull-left':message.sent_by == 'participant'}">
  <i class="mw"
     ng-class="{'mw-user-md':message.sent_by == 'nurse',
                'mw-monitor-bdr':message.sent_by == 'system',
                'mw-mwach-phone':message.sent_by == 'participant'}"></i>
</div>

<div class="message"
     ng-class="{'nurse pull-right':message.sent_by == 'nurse',
                'system pull-right':message.sent_by == 'system',
                'participant pull-left':message.sent_by == 'participant'}">

  <div class="msg-header clearfix">
    <strong class="pull-left capitalize">
      {{message.is_outgoing ? message.sent_by : participant.nickname}}
    </strong>
    <div class="pull-right">{{message.created | date:'d MMM yy H:mm'}}</div>

    <div ng-if="!message.is_system" class="center-block">

      <a ui-sref="translations({'#':'message{{message.id}}'})" class='badge-warning' ng-if="message.translation_status == 'todo' && message.sent_by != 'system'">
          Untranslated
      </a>

      {{message.is_translated && message.translation_skipped ? '(Translation skipped)' : ''}}

      <!-- toggle buttons to a shared directive? -->
      <span ng-if="message.translation_status != 'todo'">
        {{message.show_translation == 'done' ? 'Displaying translated' : 'Displaying original&nbsp;&nbsp;&nbsp;'}}
      </span>
      <label
        ng-if="message.translation_status == 'done'"
        class="btn btn-xs mw-toggle-btn"
        ng-class="{'active': message.show_translation}"
        ng-click="message.show_translation = !message.show_translation"
        tooltip="Toggle between original text and translation">
          <i class="mw mw-language"></i>
      </label>

      <button ng-if="message.translation_status != 'todo'" ng-click='retranslate()' class="btn btn-xs btn-default" tooltip="Mark for Retranslation">
        <i class="mw mw-redo"></i>
      </button>

    </div>
  </div>

  <div class="msg-content">{{message.show_translation ? message.translated_text : message.text}}</div>

  <div ng-if="message.is_pending" class="row metadata">
    <div class="col-sm-5 ">
      <!-- TODO: Would be easy to make a radio button directive from this... -->
      <div class="btn-group btn-group-justified btn-group-xs">
        <label
          class="btn mw-toggle-btn"
          ng-class="{'active':message.is_related}"
          ng-click="message.is_related = true">
            Related
        </label>
        <label
          class="btn mw-toggle-btn"
          ng-class="{'active':message.is_related == false}"
          ng-click="message.is_related = false">
            Unrelated
        </label>
      </div>
    </div>

    <div class="col-sm-6 col-sm-offset-1">
      <div class="col-xs-3">
        Topic:
      </div>
      <div class="col-xs-9">
        <select name='topic' class='select form-control input-mini' ng-model="message.topic">
          <option value=''>None</option>
          <option value='adherence'>Adherence</option>
          <option value='side-effects'>Side Effects</option>
          <option value='visits'>Visits</option>
          <option value='antenatal-concerns'>Antenatal Concerns</option>
          <option value='delivery-concenrs'>Delivery Concerns</option>
          <option value='family-planing'>Family Planing</option>
          <option value='infant-health'>Infant Health</option>
          <option value='sexual-behavior'>Sexual Behavior</option>
          <option value='other'>Other</option>
        </select>
      </div>
    </div>
  </div>

  <div
    ng-if="message.sent_by == 'participant'"
    class="btn-group btn-group-justified"
    ng-class="message.is_pending ? 'btn-group-sm' : 'btn-group-xs'"
    tooltip="You must select whether the message is related or unrelated and a topic before you can continue."
    tooltip-enable="isDisabled()">
      <a
        class="btn btn-success"
        ng-class="{'disabled': isDisabled()}"
        ng-click="openSendModalFn()(message)">
          <i class="mw mw-reply"></i> Reply
      </a>
      <a ng-if="message.is_pending" class="btn btn-danger"
         ng-class="{'disabled': isDisabled()}" ng-click='dismiss()'>
        <i class="mw mw-times"></i> Dismiss
      </a>
  </div>
</div>
