<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <h3 class="modal-title">Call History For {{participant.nickname}}: {{participant.phone_number}}</h3>
</div>

<div class='modal-body'>

<accordion close-others="true">
  <accordion-group heading="Record Phone Call">
    <form class='form-horizontal' name="form.call_form">

    <div class='form-group'><div class='col-md-10 col-md-offset-1'><div class='btn-group btn-group-justified'>
      <label class='btn btn-primary' ng-model='new_call.is_outgoing' btn-radio="false">Incoming</label>
      <label class='btn btn-primary' ng-model='new_call.is_outgoing' btn-radio="true">Outgoing</label>
    </div></div></div>

    <div class='form-group'>
      <label class="control-label col-md-1" for="date_called">Called</label>

      <div class="col-md-3">
        <p class='input-group'><input ng-model='new_call.created' type='text' class='form-control'
             datepicker-popup is-open="created_open" name='created'/>
       <span class="input-group-btn">
         <button type="button" class="btn btn-default" ng-click="created_open = !created_open">
           <i class="glyphicon glyphicon-calendar"></i>
        </button></span>
      </p>
    </div>

      <div class='col-md-8 input-group'><div class='btn-group -group btn-group-justified'>
        <label ng-if='new_call.is_outgoing' class='btn btn-warning' ng-model='new_call.outcome' btn-radio="'no_ring'">Phone Off</label>
        <label class='btn btn-warning' ng-model='new_call.outcome' btn-radio="'no_answer'">No Answer</label>
        <label class='btn btn-success' ng-model='new_call.outcome' btn-radio="'answered'">Answered</label>
      </div></div>
    </div>

    <div class='form-group'>
      <label for="comment" class="contorl-label col-md-1">Comment</label>
      <div class="col-md-5">
        <textarea cols='50' class='form-control' ng-model="new_call.comment" name="comment"></textarea>
      </div>
      <div class="col-md-6 text-center">
        <div ng-if="new_call.outcome == 'answered'" class="row">
          <label class="control-label col-sm-3" for="length">Length</label>
          <p class='input-group col-sm-8'>
            <input class='form-control' type="number" name='length' required min="1" max="10" ng-model='new_call.length'>
            <span class="input-group-btn"><button class='btn btn-default'>min</button></span>
          </p>
        </div>
        <button class="btn btn-highlight" ng-disabled='addDisabled()' ng-click="addCall()">Add Call</button>
        <button class="btn btn-default" ng-click="$dismiss()">Close</button>
      </div>
    </div>

</form>
</accordion-group>

<accordion-group heading="Call history for {{participant.nickname}}" is-open="status.call_history_open">
  <div ng-repeat='call in participant.calls' class='clearfix'>
      <div class='avatar mw-4x' ng-class="{'pull-left call':!call.is_outgoing, 'pull-right nurse':call.is_outgoing}">
        <i class='mw' ng-class="{'mw-mobile-1':!call.is_outgoing, 'mw-user-md':call.is_outgoing}"></i>
    </div>

    <div class='message' ng-class="{'pull-left call':!call.is_outgoing, 'pull-right nurse':call.is_outgoing}">
      <div class="msg-header clearfix">
        <strong class='pull-left'>
          Phone Call {{(call.is_outgoing)?'To':'From'}} {{participant.nickname}}
        </strong>
        <span>Length: {{ (call.length)?call.length:'0' }} min</span>
        <div class="pull-right">{{call.created | date:'d MMM yy H:mm'}}</div>
      </div>
      <div class='msg-content'>
        <strong>
          <span ng-if="call.outcome == 'no_ring'">Call but no ring.</span>
          <span ng-if="call.outcome == 'no_answer'">Ring but no answer</span>
          <span ng-if="call.outcome == 'answered'">Answered: </span>
        </strong>
        {{call.comment}}
      </div>
    </div>

  </div>
</accordion-group>

</accordion>
</div>
</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>
