<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <h3 class="modal-title">{{participant.nickname}}'s Visit History</h3>
</div>

<table class='table table-condensed table-striped'>
  <thead><tr>
    <th style='width:100px'></th> <th>Scheduled</th> <th>Type</th> <th>Attended</th>
  </tr></thead>
  <tbody>
    <tr ng-repeat="visit in visits">
      <td class='text-center'>
        <i class="mw mw-2x" ng-class="visit.is_pregnant ? 'mw-mwach-phone pregnant' : 'mw-mwach-baby-phone postpartum'"></i>
      </td>
      <td>{{visit.scheduled}} ({{visit.days_str}})</td>
      <td>{{visit.visit_type_display}}</td>
      <td ng-if="visit.arrived">{{visit.arrived}}</td>
      <td ng-if="!visit.arrived">{{visit.status}}</td>
    </tr>
  </tbody>
</table>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>
