<div class='participant-page'>

  <h1>
    <span ng-class="participant.status == 'post' ? 'postpartum' : 'pregnant'">
      <i class="mw" ng-class="participant.status == 'post' ? 'mw-mwach-baby-phone' : 'mw-mwach-phone'" ></i>
      {{participant.nickname}}
    </span>
    <small>Study ID: {{participant.study_id}}</small>
    <small>ANC #: {{participant.anc_num}}</small>
  </h1>

  <div class="row participant-messages">
    <div class="col-md-8">

      <div class="btn-group btn-group-justified" id="msg-list-btn-group">
        <mw-action-btn
          mw-icon="mw-comment"
          mw-style="success"
          ng-click="openSendModal()">
          Send Msg
        </mw-action-btn>
        <mw-action-btn mw-icon="mw-mobile-1" mw-style="highlight">Record Call</mw-action-btn>
      </div>

      <!-- TODO: I want to get rid of fuelux and jquery and all the nonsense in this version. Need to sort out the overflow scrolling bits -->
      <div class="message-list">
        <mw-message
          message="msg"
          participant="participant"
          open-send-modal-fn="openSendModal"
          ng-repeat="msg in messages | orderBy:'created':true"
          class="clearfix">
        </mw-message>
      </div>

    </div>

    <div class="col-md-4">

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Participant Details <i id="context-edit" class="mw mw-cogs pull-right" ng-click='openModifyModel()'></i></h3>
        </div>

        <table class="details-table table table-condensed">
          <tbody>
          <tr ng-repeat="detail in detailsList" >
            <td>{{detail.label}}</td>
            <td>{{participant[detail.value]}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>

</div>
